.group-child19 {
  position: absolute;
  height: 86.08%;
  width: 10.71%;
  top: 0;
  right: 89.29%;
  bottom: 13.92%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.div49,
.group-child20,
.index3,
.rectangle-wrapper1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 54.5px;
  height: 128.9px;
}
.div49,
.index3,
.rectangle-wrapper1 {
  top: 29.1px;
  left: 1141.5px;
}
.div49,
.index3 {
  top: 52px;
  left: 251.8px;
  letter-spacing: -0.5px;
  line-height: 20px;
  display: inline-block;
  width: 137.6px;
  height: 62px;
}
.div49 {
  top: 54px;
  left: 460.2px;
  width: 216.8px;
}
.group-parent1 {
  position: absolute;
  height: 14.63%;
  width: 62.29%;
  top: 0.28%;
  right: 1.56%;
  bottom: 85.09%;
  left: 36.15%;
  font-size: var(--font-size-5xl);
}
.freepik-background-complete-icon1 {
  position: absolute;
  height: 53.48%;
  width: 77.18%;
  top: 17.99%;
  right: 15.92%;
  bottom: 28.54%;
  left: 6.9%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.checklist-rafiki-1-item,
.freepik-character-inject-1-icon1,
.freepik-checklist-inject-1-icon1 {
  position: absolute;
  height: 51.69%;
  width: 38.26%;
  top: 21.6%;
  right: 41.57%;
  bottom: 26.71%;
  left: 20.17%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.checklist-rafiki-1-item,
.freepik-character-inject-1-icon1 {
  height: 46.21%;
  width: 26.04%;
  top: 27.76%;
  right: 27.4%;
  bottom: 26.03%;
  left: 46.55%;
}
.checklist-rafiki-1-item {
  height: 8.19%;
  width: 6.59%;
  top: 91.81%;
  right: 51.01%;
  bottom: 0;
  left: 42.39%;
}
.what-do-you1 {
  position: absolute;
  top: 80.13%;
  left: 20.59%;
  line-height: 150.5%;
}
.checklist-rafiki-11 {
  position: absolute;
  top: 131px;
  left: 591px;
  width: 986px;
  height: 745px;
  overflow: hidden;
  text-align: left;
  font-family: var(--font-noto-sans-kr);
}
.botton-navigation-bar-child4 {
  background-color: var(--color-darkslategray);
}
.botton-navigation-bar-child4,
.group-child21 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.vuesaxboldhome-2-icon3 {
  position: absolute;
  height: 47.98%;
  width: 79.94%;
  top: 0;
  right: 10.03%;
  bottom: 52.02%;
  left: 10.03%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.home4 {
  position: absolute;
  height: 35.97%;
  width: 100%;
  top: 63.97%;
  left: 0;
  line-height: 150.5%;
  display: inline-block;
}
.vuesaxboldhome-2-parent1 {
  position: absolute;
  height: 100%;
  width: 62.51%;
  top: 0;
  right: 20.86%;
  bottom: 0;
  left: 16.63%;
}
.rectangle-parent11 {
  position: absolute;
  height: 16.27%;
  width: 53.34%;
  top: 11.48%;
  right: 22.8%;
  bottom: 72.25%;
  left: 23.86%;
  color: var(--color-gray-400);
  font-family: var(--font-lato);
}
.vuesaxoutlineuser-icon3 {
  position: absolute;
  height: 47.98%;
  width: 66.64%;
  top: 0;
  right: 16.72%;
  bottom: 52.02%;
  left: 16.64%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vuesaxoutlineuser-parent1 {
  position: absolute;
  height: 100%;
  width: 74.98%;
  top: 0;
  right: 12.54%;
  bottom: 0;
  left: 12.48%;
}
.rectangle-parent12 {
  position: absolute;
  height: 16.27%;
  width: 53.34%;
  top: 50.68%;
  right: 23.86%;
  bottom: 33.06%;
  left: 22.8%;
}
.vuesaxoutlinecalendar-icon3 {
  position: absolute;
  height: 56.73%;
  width: 49.97%;
  top: 0;
  right: 25.02%;
  bottom: 43.27%;
  left: 25.02%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.div51 {
  position: absolute;
  height: 24.56%;
  width: 100%;
  top: 75.44%;
  left: 0;
  line-height: 150.5%;
  display: inline-block;
}
.vuesaxoutlinecalendar-parent1 {
  position: absolute;
  height: 84.58%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 15.42%;
  left: 0;
}
.rectangle-parent13 {
  position: absolute;
  height: 16.27%;
  width: 53.34%;
  top: 31%;
  right: 23.86%;
  bottom: 52.73%;
  left: 22.8%;
}
.botton-navigation-bar5 {
  position: absolute;
  top: 0;
  left: 187px;
  width: 293px;
  height: 1080px;
  color: var(--color-gray-500);
}
.home-screen-empty-screen-item {
  position: absolute;
  height: 100%;
  width: 16.46%;
  top: 39.07%;
  right: -24.17%;
  bottom: -39.07%;
  left: 107.71%;
  background-color: var(--color-darkslategray);
  transform: rotate(46.94deg);
  transform-origin: 0 0;
}
.home-screen-empty-screen1 {
  position: relative;
  background-color: var(--bg-color);
  width: 100%;
  height: 1080px;
  overflow: hidden;
  text-align: center;
  font-size: var(--font-size-15xl);
  color: var(--color-gray-400);
  font-family: var(--font-noto-sans);
}
