.botton-navigation-bar-child {
  background-color: var(--color-darkslategray);
}
.botton-navigation-bar-child,
.group-child,
.vuesaxboldhome-2-icon {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.vuesaxboldhome-2-icon {
  height: 47.98%;
  width: 79.94%;
  right: 10.03%;
  bottom: 52.02%;
  left: 10.03%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.home {
  position: absolute;
  height: 35.97%;
  width: 100%;
  top: 63.97%;
  left: 0;
  line-height: 150.5%;
  display: inline-block;
}
.vuesaxboldhome-2-parent {
  position: absolute;
  height: 100%;
  width: 62.51%;
  top: 0;
  right: 20.86%;
  bottom: 0;
  left: 16.63%;
}
.rectangle-parent {
  position: absolute;
  height: 16.27%;
  width: 53.34%;
  top: 11.48%;
  right: 22.8%;
  bottom: 72.25%;
  left: 23.86%;
  color: var(--color-gray-400);
  font-family: var(--font-noto-sans-kr);
}
.vuesaxoutlineuser-icon {
  position: absolute;
  height: 47.98%;
  width: 66.64%;
  top: 0;
  right: 16.72%;
  bottom: 52.02%;
  left: 16.64%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.rectangle-group,
.vuesaxoutlineuser-parent {
  position: absolute;
  height: 100%;
  width: 74.98%;
  top: 0;
  right: 12.54%;
  bottom: 0;
  left: 12.48%;
}
.rectangle-group {
  height: 16.27%;
  width: 53.34%;
  top: 50.68%;
  right: 23.86%;
  bottom: 33.06%;
  left: 22.8%;
}
.vuesaxoutlinecalendar-icon {
  position: absolute;
  height: 56.73%;
  width: 49.97%;
  top: 0;
  right: 25.02%;
  bottom: 43.27%;
  left: 25.02%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.div1 {
  position: absolute;
  height: 24.56%;
  width: 100%;
  top: 75.44%;
  left: 0;
  line-height: 150.5%;
  display: inline-block;
}
.vuesaxoutlinecalendar-parent {
  position: absolute;
  height: 84.58%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 15.42%;
  left: 0;
}
.rectangle-container {
  position: absolute;
  height: 16.27%;
  width: 53.34%;
  top: 31%;
  right: 23.86%;
  bottom: 52.73%;
  left: 22.8%;
}
.botton-navigation-bar {
  position: absolute;
  top: 0;
  left: 187px;
  width: 293px;
  height: 1080px;
}
.home-screen-empty-screen-child {
  position: absolute;
  height: 100%;
  width: 16.46%;
  top: 39.07%;
  right: -24.17%;
  bottom: -39.07%;
  left: 107.71%;
  background-color: var(--color-darkslategray);
  transform: rotate(46.94deg);
  transform-origin: 0 0;
}
.may-2022 {
  position: relative;
}
.may-2022-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 132.9px;
  height: 56px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-3xs) 32px 0;
  box-sizing: border-box;
  font-size: var(--font-size-5xl);
  color: var(--light-grayscale-200);
  font-family: var(--font-noto-sans-kr);
}
.sun {
  position: relative;
  font-weight: 500;
}
.sun-wrapper {
  border-radius: var(--br-5xs) 0 0 0;
}
.mon-wrapper,
.sat-wrapper,
.sun-wrapper {
  align-self: stretch;
  background-color: var(--color-white);
  border: 1px solid var(--light-grayscale-400);
  box-sizing: border-box;
  width: 186px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  padding: var(--padding-xs);
}
.sat-wrapper {
  border-radius: 0 var(--br-5xs) 0 0;
}
.frame-group,
.tags {
  display: flex;
  flex-direction: row;
}
.frame-group {
  position: absolute;
  top: 56px;
  left: 0;
  background-color: #fafafa;
  width: 1294px;
  height: 39.5px;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: var(--font-size-base);
}
.tags {
  border-radius: var(--br-9xs);
  background: linear-gradient(rgba(0, 133, 255, 0.1), rgba(0, 133, 255, 0.1)),
    #fff;
  padding: var(--padding-10xs) var(--padding-9xs);
}
.red-tag-wrapper,
.tags,
.tags1 {
  align-items: flex-start;
  justify-content: flex-start;
}
.tags1 {
  border-radius: var(--br-9xs);
  background: linear-gradient(rgba(255, 150, 27, 0.1), rgba(255, 150, 27, 0.1)),
    #fff;
  display: none;
  flex-direction: row;
  padding: var(--padding-10xs) var(--padding-9xs);
  color: var(--dark-orange-base);
}
.red-tag-wrapper {
  display: flex;
  flex-direction: column;
}
.tags2,
.tags3 {
  border-radius: var(--br-9xs);
  display: none;
  padding: var(--padding-10xs) var(--padding-9xs);
}
.tags2 {
  background: linear-gradient(rgba(255, 59, 59, 0.1), rgba(255, 59, 59, 0.1)),
    #fff;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  color: var(--light-red-base);
}
.tags3 {
  background-color: var(--light-grayscale-400);
  flex-direction: row;
  color: var(--light-grayscale-200);
}
.tags-parent,
.tags3,
.tags4,
.tags5 {
  align-items: flex-start;
  justify-content: flex-start;
}
.tags-parent {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  padding: var(--padding-11xs);
  gap: var(--gap-7xs);
  font-size: var(--font-size-sm);
  color: var(--light-blue-base);
}
.tags4,
.tags5 {
  flex-direction: row;
}
.tags4 {
  border-radius: var(--br-9xs);
  background: linear-gradient(rgba(0, 133, 255, 0.1), rgba(0, 133, 255, 0.1)),
    #fff;
  display: none;
  padding: var(--padding-10xs) var(--padding-9xs);
}
.tags5 {
  background: linear-gradient(rgba(255, 150, 27, 0.1), rgba(255, 150, 27, 0.1)),
    #fff;
  display: flex;
  color: var(--dark-orange-base);
}
.tags11,
.tags5,
.tags6 {
  border-radius: var(--br-9xs);
  padding: var(--padding-10xs) var(--padding-9xs);
}
.tags6 {
  background: linear-gradient(rgba(255, 59, 59, 0.1), rgba(255, 59, 59, 0.1)),
    #fff;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  color: var(--light-red-base);
}
.tags11 {
  background-color: var(--light-grayscale-400);
  flex-direction: row;
  color: var(--light-grayscale-200);
}
.frame-container,
.tags11,
.tags15,
.tags40 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.tags15 {
  border-radius: var(--br-9xs);
  background: linear-gradient(rgba(0, 186, 52, 0.1), rgba(0, 186, 52, 0.1)),
    #fff;
  flex-direction: column;
  padding: var(--padding-10xs) var(--padding-9xs);
  color: var(--color-limegreen);
}
.frame-container,
.tags40 {
  flex-direction: row;
}
.frame-container {
  position: absolute;
  top: 95.5px;
  left: 0;
  width: 1294px;
  height: 176.9px;
}
.tags40 {
  border-radius: var(--br-9xs);
  background: linear-gradient(rgba(255, 150, 27, 0.1), rgba(255, 150, 27, 0.1)),
    #fff;
  padding: var(--padding-10xs) var(--padding-9xs);
}
.tags-wrapper {
  align-self: stretch;
  padding: var(--padding-11xs);
  font-size: var(--font-size-sm);
  color: var(--dark-orange-base);
}
.tags-frame,
.tags-wrapper,
.tags41 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.tags41 {
  border-radius: var(--br-9xs);
  background: linear-gradient(rgba(255, 59, 59, 0.1), rgba(255, 59, 59, 0.1)),
    #fff;
  padding: var(--padding-10xs) var(--padding-9xs);
}
.tags-frame {
  align-self: stretch;
  padding: var(--padding-11xs);
  font-size: var(--font-size-sm);
  color: var(--light-red-base);
}
.tags42 {
  border-radius: var(--br-9xs);
  background-color: var(--light-grayscale-400);
  flex-direction: row;
  padding: var(--padding-10xs) var(--padding-9xs);
}
.frame-parent1,
.tags-wrapper1,
.tags42 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.tags-wrapper1 {
  align-self: stretch;
  flex-direction: column;
  padding: var(--padding-11xs);
  font-size: var(--font-size-sm);
  color: var(--light-grayscale-200);
}
.frame-parent1 {
  position: absolute;
  top: 272.4px;
  left: 0;
  width: 1294px;
  height: 176.9px;
  flex-direction: row;
}
.tags-wrapper2 {
  align-self: stretch;
  padding: var(--padding-11xs);
  font-size: var(--font-size-sm);
  color: var(--light-blue-base);
}
.tags-wrapper2,
.tags-wrapper3,
.tags51 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.tags51 {
  border-radius: var(--br-9xs);
  background: linear-gradient(rgba(0, 186, 52, 0.1), rgba(0, 186, 52, 0.1)),
    #fff;
  padding: var(--padding-10xs) var(--padding-9xs);
}
.tags-wrapper3 {
  align-self: stretch;
  padding: var(--padding-11xs);
  font-size: var(--font-size-sm);
  color: var(--color-limegreen);
}
.div22 {
  position: relative;
  font-size: var(--font-size-2xl);
  font-weight: 500;
}
.tags-parent11,
.wrapper {
  flex-direction: column;
  justify-content: flex-start;
}
.wrapper {
  display: flex;
  align-items: flex-start;
  color: var(--light-grayscale-400);
}
.tags-parent11 {
  align-self: stretch;
  padding: var(--padding-11xs);
  gap: var(--gap-7xs);
  color: var(--light-blue-base);
}
.frame-parent2,
.parent17,
.tags-parent11 {
  display: flex;
  align-items: flex-start;
}
.parent17 {
  align-self: stretch;
  background-color: var(--color-white);
  border: 1px solid var(--light-grayscale-400);
  box-sizing: border-box;
  width: 186px;
  flex-direction: column;
  justify-content: space-between;
  padding: var(--padding-xs);
  font-size: var(--font-size-sm);
}
.frame-parent2 {
  position: absolute;
  top: 449.3px;
  left: 0;
  width: 1294px;
  height: 176.9px;
  flex-direction: row;
  justify-content: flex-start;
}
.parent24,
.tags-parent14 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.tags-parent14 {
  justify-content: flex-start;
  padding: var(--padding-11xs);
  gap: var(--gap-7xs);
  font-size: var(--font-size-sm);
  color: var(--light-red-base);
}
.parent24 {
  border-radius: 0 0 var(--br-5xs) 0;
  background-color: var(--color-white);
  border: 1px solid var(--light-grayscale-400);
  box-sizing: border-box;
  width: 186px;
  justify-content: space-between;
  padding: var(--padding-xs);
}
.frame-parent3 {
  position: absolute;
  top: 626.2px;
  left: 0;
  width: 1294px;
  height: 176.9px;
  flex-direction: row;
  justify-content: flex-start;
}
.frame-parent3,
.frame-parent4,
.parent25 {
  display: flex;
  align-items: flex-start;
}
.parent25 {
  align-self: stretch;
  border-radius: 0 0 0 var(--br-5xs);
  background-color: var(--color-white);
  border: 1px solid var(--light-grayscale-400);
  box-sizing: border-box;
  width: 186px;
  flex-direction: column;
  justify-content: space-between;
  padding: var(--padding-xs);
}
.frame-parent4 {
  position: absolute;
  top: 803.1px;
  left: 0;
  width: 739.4px;
  height: 176.9px;
  flex-direction: row;
  justify-content: flex-start;
}
.frame-parent {
  position: absolute;
  top: 46px;
  left: 500px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12);
  width: 1295px;
  height: 803px;
  text-align: left;
  font-size: var(--font-size-2xl);
  color: var(--color-darkgray-100);
  font-family: var(--font-inter);
}
.home-screen-empty-screen {
  position: relative;
  background-color: var(--bg-color);
  width: 100%;
  height: 1080px;
  overflow: hidden;
  text-align: center;
  font-size: var(--font-size-15xl);
  color: var(--color-gray-500);
  font-family: var(--font-lato);
}
