<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" th:href="@{/global.css}" href="./global.css" />
    <link rel="stylesheet" th:href="@{/HomeScreenEmptyScreen.css}" href="./HomeScreenEmptyScreen.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Noto Sans KR:wght@400;700&display=swap"
      th:href="@{'https://fonts.googleapis.com/css2?family=Noto Sans KR:wght@400;700&display=swap'}"
    />
    <link
      rel="stylesheet"
      th:href="@{https://fonts.googleapis.com/css2?family=Lato:wght@400&display=swap}"
      href="https://fonts.googleapis.com/css2?family=Lato:wght@400&display=swap"

    />
    <link
      rel="stylesheet"
      th:href="@{https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap}"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap"

    />
    <link
      rel="stylesheet"
      th:href="@{https://fonts.googleapis.com/css2?family=Noto Sans:wght@400&display=swap}"
      href="https://fonts.googleapis.com/css2?family=Noto Sans:wght@400&display=swap"
    />
  </head>
  <body>
    <div class="home-screen-empty-screen1">
      <div class="group-parent1">
        <img class="group-child19" alt=""
             th:src="@{/public/group-158.svg}"
             src="./public/group-158.svg" />

        <div class="rectangle-wrapper1">
          <div class="group-child20"></div>
        </div>

          <div class="index3" th:onclick="|location.href ='/home/addList'|" style="cursor:pointer;">+ 새 목록</div>
          <div class="div49">삭제</div>

      </div>
      <div class="checklist-rafiki-11">
        <img
          class="freepik-background-complete-icon1"
          alt=""
          th:src="@{/public/freepikbackgroundcompleteinject1.svg}"
          src="./public/freepikbackgroundcompleteinject1.svg"
        />

        <img
          class="freepik-checklist-inject-1-icon1"
          alt=""
          th:src="@{/public/freepikchecklistinject1.svg}"
          src="./public/freepikchecklistinject1.svg"
        />

        <img
          class="freepik-character-inject-1-icon1"
          alt=""
          th:src="@{/public/freepikcharacterinject1.svg}"
          src="./public/freepikcharacterinject1.svg"
        />

        <img
          class="checklist-rafiki-1-item"
          alt=""
          th:src="@{/public/group-162.svg}"
          src="./public/group-162.svg"
        />

        <div class="what-do-you1">What do you want to do today?</div>
      </div>
      <div class="botton-navigation-bar5">
        <div class="botton-navigation-bar-child4"></div>
        <div class="rectangle-parent11">
          <div class="group-child21"></div>
          <div class="vuesaxboldhome-2-parent1">
            <img
              class="vuesaxboldhome-2-icon3"
              alt=""
              th:src="@{/public/vuesaxboldhome2.svg}"
              src="./public/vuesaxboldhome2.svg"
            />

            <div class="home4">Home</div>
          </div>
        </div>
        <div class="rectangle-parent12">
          <div class="group-child21"></div>
          <div class="vuesaxoutlineuser-parent1">
            <img
              class="vuesaxoutlineuser-icon3"
              alt=""
              th:src="@{/public/vuesaxoutlineuser.svg}"
              src="./public/vuesaxoutlineuser.svg"
            />

            <div class="home4">프로필</div>
          </div>
        </div>
        <div class="rectangle-parent13">
          <div class="group-child21"></div>
          <div class="vuesaxoutlinecalendar-parent1">
            <img
              class="vuesaxoutlinecalendar-icon3"
              alt=""
              th:src="@{/public/vuesaxoutlinecalendar.svg}"
              src="./public/vuesaxoutlinecalendar.svg"
            />

            <div class="div51">일정</div>
          </div>
        </div>
      </div>
      <div class="home-screen-empty-screen-item"></div>
    </div>
  </body>
</html>
