<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/global.css}" href="./global.css" />
    <link rel="stylesheet" th:href="@{/HomeScreenEmptyScreen.css}" href="./HomeScreenEmptyScreen.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Noto Sans KR:wght@400;700&display=swap"
      th:href="@{'https://fonts.googleapis.com/css2?family=Noto Sans KR:wght@400;700&display=swap'}"
    />
    <link
      rel="stylesheet"
      th:href="@{https://fonts.googleapis.com/css2?family=Lato:wght@400&display=swap}"
      href="https://fonts.googleapis.com/css2?family=Lato:wght@400&display=swap"

    />
    <link
      rel="stylesheet"
      th:href="@{https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap}"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap"

    />
    <link
      rel="stylesheet"
      th:href="@{https://fonts.googleapis.com/css2?family=Noto Sans:wght@400&display=swap}"
      href="https://fonts.googleapis.com/css2?family=Noto Sans:wght@400&display=swap"
    />
  </head>
  <body>
    <div class="home-screen-empty-screen1">
      <div class="group-parent1">
        <img class="group-child19" alt=""
             th:src="@{/public/group-158.svg}"
             src="./public/group-158.svg" />

        <div class="rectangle-wrapper1">
          <div class="group-child20"></div>
        </div>

          <div class="index3"
               style="cursor:pointer;"
               data-bs-toggle="modal"
               data-bs-target="#todo-add-modal">+ 새 목록</div>

          <div class="div49">삭제</div>

      </div>
      <div class="checklist-rafiki-11">
        <img
          class="freepik-background-complete-icon1"
          alt=""
          th:src="@{/public/freepikbackgroundcompleteinject1.svg}"
          src="./public/freepikbackgroundcompleteinject1.svg"
        />

        <img
          class="freepik-checklist-inject-1-icon1"
          alt=""
          th:src="@{/public/freepikchecklistinject1.svg}"
          src="./public/freepikchecklistinject1.svg"
        />

        <img
          class="freepik-character-inject-1-icon1"
          alt=""
          th:src="@{/public/freepikcharacterinject1.svg}"
          src="./public/freepikcharacterinject1.svg"
        />

        <img
          class="checklist-rafiki-1-item"
          alt=""
          th:src="@{/public/group-162.svg}"
          src="./public/group-162.svg"
        />

        <div class="what-do-you1">What do you want to do today?</div>
      </div>
      <div class="botton-navigation-bar5">
        <div class="botton-navigation-bar-child4"></div>
        <div class="rectangle-parent11">
          <div class="group-child21"></div>
          <div class="vuesaxboldhome-2-parent1">
            <img
              class="vuesaxboldhome-2-icon3"
              alt=""
              th:src="@{/public/vuesaxboldhome2.svg}"
              src="./public/vuesaxboldhome2.svg"
            />

            <div class="home4">Home</div>
          </div>
        </div>
        <div class="rectangle-parent12">
          <div class="group-child21"></div>
          <div class="vuesaxoutlineuser-parent1">
            <img
              class="vuesaxoutlineuser-icon3"
              alt=""
              th:src="@{/public/vuesaxoutlineuser.svg}"
              src="./public/vuesaxoutlineuser.svg"
            />

            <div class="home4">프로필</div>
          </div>
        </div>
        <div class="rectangle-parent13">
          <div class="group-child21"></div>
          <div class="vuesaxoutlinecalendar-parent1">
            <img
              class="vuesaxoutlinecalendar-icon3"
              alt=""
              th:src="@{/public/vuesaxoutlinecalendar.svg}"
              src="./public/vuesaxoutlinecalendar.svg"
            />

            <div class="div51">일정</div>
          </div>
        </div>
      </div>
      <div class="home-screen-empty-screen-item"></div>
    </div>

  <!-- modal -->
      <div class="modal fade" id="todo-add-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">일정</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <form>
              <div class="mb-3">
                <label for="new-todo" class="col-form-label">할일:</label>
                <input type="text" class="form-control" id="new-todo">
              </div>
              <div class="mb-3">
                <label for="new-todo-due-date" class="col-form-label">기간:</label>
                <input type="date" id="new-todo-due-date">
              </div>
              <div class="mb-3">

                <div class="form-check">
                  <label class="form-check-label" for="new-priority-check">
                    중요
                  </label>
                  <input class="form-check-input" type="checkbox"  value="true" id="new-priority-check">
                </div>
              </div>
              <!-- 히든 인풋 -->
              <input type="hidden" id="new-todo-schedule-id" th:value="${schedule.getId()}">
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" id="new-todo-btn" class="btn btn-primary">추가</button>
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">취소</button>
          </div>
        </div>
      </div>
    </div>
    <!-- 모달 할일 생성-->
    <Script>
      {
        // 댓글 생성 버튼 변수화
        const todoCreateBtn = document.querySelector("#new-todo-btn");
        // 댓글 클릭 이벤트 감지!
        todoCreateBtn.addEventListener("click", function() {
          // 새 댓글 객체 생성
          const toDoJson = {
            schedule_id: document.querySelector("#new-todo-schedule-id").value,
            todo: document.querySelector("#new-todo").value,
            due_date: document.querySelector("#new-todo-due-date").value,
            priority: document.querySelector("#new-priority-check").value

          };
          // 댓글 객체 출력
          console.log(toDoJson);
          // fetch() - 비동기 통신을 위한 API
          const url = "/home/addTodo";
          fetch(url, {
            method: "post",
            body: JSON.stringify(toDoJson),
            headers: {
              "Content-Type": "application/json"
            }
          }).then(response => {
            // http 응답 코드에 따른 메시지 출력
            const msg = (response.ok) ? "생성 완료" : "생성 실패..!";
            alert(msg);
            window.location.reload();
          });
        });
      }
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
  </body>
</html>
