<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="./global.css" />
    <link rel="stylesheet" href="./HomeScreenAddScreen.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Noto Sans KR:wght@400;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Lato:wght@400&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Noto Sans:wght@400&display=swap"
    />
  </head>
  <body>
    <div class="home-screen-add-screen">
      <div class="group-container">
        <img class="group-child13" alt="" src="./public/group-158.svg" />

        <div class="rectangle-frame">
          <div class="group-child14"></div>
        </div>
        <div class="index2">Index</div>
        <div class="div44">+ 새 목록</div>
      </div>
      <div class="checklist-rafiki-1">
        <button type="button">
          <img
            class="freepik-background-complete-icon"
            alt=""
            src="./public/freepikbackgroundcompleteinject1.svg"
          />
        </button>

        <img
          class="freepik-checklist-inject-1-icon"
          alt=""
          src="./public/freepikchecklistinject1.svg"
        />

        <img
          class="freepik-character-inject-1-icon"
          alt=""
          src="./public/freepikcharacterinject1.svg"
        />

        <img
          class="checklist-rafiki-1-child"
          alt=""
          src="./public/group-162.svg"
        />

        <div class="what-do-you">What do you want to do today?</div>
      </div>
      <div class="botton-navigation-bar4">
        <div class="botton-navigation-bar-child3"></div>
        <div class="rectangle-parent7">
          <div class="group-child15"></div>
          <div class="vuesaxboldhome-2-container">
            <img
              class="vuesaxboldhome-2-icon2"
              alt=""
              src="./public/vuesaxboldhome2.svg"
            />

            <div class="home3">Home</div>
          </div>
        </div>
        <div class="rectangle-parent8">
          <div class="group-child15"></div>
          <div class="vuesaxoutlineuser-container">
            <img
              class="vuesaxoutlineuser-icon2"
              alt=""
              src="./public/vuesaxoutlineuser.svg"
            />

            <div class="home3">프로필</div>
          </div>
        </div>
        <div class="rectangle-parent9">
          <div class="group-child15"></div>
          <div class="vuesaxoutlinecalendar-container">
            <img
              class="vuesaxoutlinecalendar-icon2"
              alt=""
              src="./public/vuesaxoutlinecalendar.svg"
            />

            <div class="div46">일정</div>
          </div>
        </div>
      </div>
      <div class="rectangle-parent10">
        <div class="group-child18"></div>
        <img
          class="vuesaxoutlineflag-icon3"
          alt=""
          src="./public/vuesaxoutlineflag3.svg"
        />

        <img
          class="vuesaxoutlinetag-icon"
          alt=""
          src="./public/vuesaxoutlinetag.svg"
        />

        <img
          class="vuesaxoutlinetimer-icon"
          alt=""
          src="./public/vuesaxoutlinetimer.svg"
        />

        <div class="frame">
          <div class="div47">숙제하기</div>
        </div>
        <div class="div48">내용</div>
        <b class="b">할 일</b>
        <img
          class="vuesaxoutlinesend-icon"
          alt=""
          src="./public/vuesaxoutlinesend.svg"
        />
      </div>
      <div class="home-screen-add-screen-child"></div>
    </div>
  </body>
</html>
