<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/global.css}" href="./global.css" />
    <link rel="stylesheet" th:href="@{/HomeScreenScheduleScreen.css}" href="./HomeScreenScheduleScreen.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Noto Sans KR:wght@400;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Lato:wght@400&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Noto Sans:wght@400&display=swap"
    />
  </head>

  <body>
    <div class="home-screen-schedule-screen">
      <div class="group-parent">
        <div class="group-icon"
             style="cursor:pointer; top: 45.5px"
             data-bs-toggle="modal"
             data-bs-target="#todo-add-modal">+ 새 목록</div>

        <div class="index1"
             style="cursor:pointer;"
             data-bs-toggle="modal"
             data-bs-target="#todo-edit-modal">수정</div>
        <div class="div35"
             style="cursor:pointer;"
             id="todo-delete">삭제</div>

      </div>
      <div class="botton-navigation-bar3">
        <div class="botton-navigation-bar-child2"></div>
        <div class="rectangle-parent1">
          <div class="group-child3"></div>
          <div class="vuesaxboldhome-2-group">
            <img
              class="vuesaxboldhome-2-icon1"
              alt=""
              th:src="@{/public/vuesaxboldhome2.svg}"
              src="./public/vuesaxboldhome2.svg"
            />

            <div class="home1">Home</div>
          </div>
        </div>
        <div class="rectangle-parent2">
          <div class="group-child3"></div>
          <div class="vuesaxoutlineuser-group">
            <img
              class="vuesaxoutlineuser-icon1"
              alt=""
              th:src="@{/public/vuesaxoutlineuser.svg}"
              src="./public/vuesaxoutlineuser.svg"
            />

            <div class="home1">프로필</div>
          </div>
        </div>
        <div class="rectangle-parent3">
          <div class="group-child3"></div>
          <div class="vuesaxoutlinecalendar-group">
            <img
              class="vuesaxoutlinecalendar-icon1"
              alt=""
              th:src="@{/public/vuesaxoutlinecalendar.svg}"
            />

            <div class="div37">일정</div>
          </div>
        </div>
      </div>
      <div class="search-bar">
        <img
          class="vuesaxoutlinesearch-normal-icon"
          alt=""
          th:src="@{/public/vuesaxoutlinesearchnormal.svg}"
          src="./public/vuesaxoutlinesearchnormal.svg"
        />

        <div class="search-for-your">search</div>
      </div>
      <div class="today-parent">
        <div class="today">Today</div>
        <img
          class="vuesaxoutlinearrow-down-icon"
          alt=""
          th:src="@{/public/vuesaxoutlinearrowdown.svg}"
          src="./public/vuesaxoutlinearrowdown.svg"
        />
      </div>
      <div class="completed-parent">
        <div class="completed">Completed</div>
        <img
          class="vuesaxoutlinearrow-down-icon"
          alt=""
          th:src="@{/public/vuesaxoutlinearrowdown1.svg}"
          src="./public/vuesaxoutlinearrowdown1.svg"
        />
      </div>
      <div style=" overflow: auto; margin-top: 330px; margin-left: 600px; max-width : 1100px; max-height: 450px">
        <table id="table" class="table table-dark table-striped">
          <thead>
          <tr>
            <th scope="col"><svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-star" viewBox="0 0 16 16">
              <path d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288L8 2.223l1.847 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.565.565 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z"/>
            </svg></th>
            <th scope="col">할일</th>
            <th scope="col">기간</th>
          </tr>
          </thead>
          <tbody>
          <tr th:each="todoDto : ${todoList}" >
            <th scope="row"><input class="form-check-input" type="checkbox" th:checked="${todoDto.isPriority()}" id="flexCheckDefault"></th>
            <td th:text="${todoDto.getTodo()}">할일</td>
            <td th:if="${todoDto.getDueDate() != null}" th:text="${#temporals.format(todoDto.getDueDate(), 'yyyy-MM-dd')}" />
            <td th:unless="${todoDto.getDueDate() != null}" th:text="기간 없음" />
            <td style="display: none" th:type="hidden" th:text="${todoDto.getId()}"></td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
    <!-- modal -->
    <div class="modal fade" id="todo-add-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">생성</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <form>
              <div class="mb-3">
                <label for="new-todo" class="col-form-label">할일:</label>
                <input type="text" class="form-control" id="new-todo">
              </div>
              <div class="mb-3">
                <label for="new-todo-due-date" class="col-form-label">기간:</label>
                <input type="date" id="new-todo-due-date">
              </div>
              <div class="mb-3">
                <div class="form-check">
                  <label class="form-check-label" for="new-priority-check">
                    중요
                  </label>
                  <input class="form-check-input" type="checkbox" id="new-priority-check">
                </div>
              </div>
              <!-- 히든 인풋 -->
              <input type="hidden" id="new-todo-schedule-id" th:value="${schedule.getId()}">
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" id="new-todo-btn" class="btn btn-primary">추가</button>
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">취소</button>
          </div>
        </div>
      </div>
    </div>
    <!-- 수정 modal -->
    <div class="modal fade" id="todo-edit-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel1">수정</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <form>
              <div class="mb-3">
                <label for="edit-todo" class="col-form-label">할일:</label>
                <input type="text" class="form-control" id="edit-todo">
              </div>
              <div class="mb-3">
                <label for="edit-todo-due-date" class="col-form-label">기간:</label>
                <input type="date" id="edit-todo-due-date">
              </div>
              <div class="mb-3">

                <div class="form-check">
                  <label class="form-check-label" for="edit-priority-check">
                    중요
                  </label>
                  <input class="form-check-input" type="checkbox"  value="true" id="edit-priority-check">
                </div>
              </div>
              <!-- 히든 인풋 -->
              <input type="hidden" id="edit-todo-schedule-id" th:value="${schedule.getId()}">
              <input type="hidden" id="edit-todo-id" value="">


            </form>
          </div>
          <div class="modal-footer">
            <button type="button" id="edit-todo-btn" class="btn btn-primary">수정</button>
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">취소</button>
          </div>
        </div>
      </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <!-- 모달 할일 생성-->
    <Script>
      {
        //테이블 id값을 저장할 전역변수
        // var id="";
        var clickedRowValues = [];


        <!-- 생성 -->
        {
          //  생성 버튼 변수화
          const todoCreateBtn = document.querySelector("#new-todo-btn");
          // 클릭 이벤트 감지!
          todoCreateBtn.addEventListener("click", function() {
            // 새 객체 생성
            const toDoJson = {
              schedule_id: document.querySelector("#edit-todo-schedule-id").value,
              todo: document.querySelector("#new-todo").value,
              due_date: document.querySelector("#new-todo-due-date").value,
              priority: document.querySelector("#new-priority-check").checked

            };
            // 객체 출력
            console.log(toDoJson);
            // fetch() - 비동기 통신을 위한 API
            const url = "/home/addTodo";
            fetch(url, {
              method: "post",
              body: JSON.stringify(toDoJson),
              headers: {
                "Content-Type": "application/json"
              }
            }).then(response => {
              // http 응답 코드에 따른 메시지 출력
              const msg = (response.ok) ? "생성 완료" : "생성 실패..!";
              alert(msg);
              window.location.reload();
            });
          });
        }

        // 테이블의 Row 클릭시 값 가져오기
        {
          table.addEventListener("click", function (event) {
            // 클릭된 엘리먼트가 테이블 셀(td)인지 확인
            if (event.target.tagName === "TD") {
              // 클릭된 행(tr) 가져오기
              var clickedRow = event.target.parentNode;

              // 클릭된 행의 셀(td) 가져오기
              var cells = clickedRow.getElementsByTagName("td");

              // 이전 값 초기화
              clickedRowValues = [];

              // 셀을 순회하며 값을 전역 변수에 저장
              for (var i = 0; i < cells.length; i++) {
                var cellValue = cells[i].innerText;
                clickedRowValues.push(cellValue);
              }

              // 전역 변수 콘솔에 출력 (테스트용)
              console.log("클릭된 행의 값: ", clickedRowValues);
            }
          });
        }
        // $("#table tr").click(function(){
        //
        //   // 현재 클릭된 Row(<tr>)
        //   var tr = $(this);
        //   var td = tr.children();
        //
        //   // tr.text()는 클릭된 Row 즉 tr에 있는 모든 값을 가져온다.
        //   console.log("클릭한 Row의 모든 데이터 : "+tr.text());
        //
        //   // td.eq(index)를 통해 값을 가져올 수도 있다.
        //   id = td.eq(3).text();
        //   console.log(id);
        //
        // });
        <!-- 수정 -->
        {
          // 모달 요소 선택
          const todoEditModal = document.querySelector("#todo-edit-modal");//
          const todoEditBtn = document.querySelector("#edit-todo-btn");

          // 모달 이벤트 감지
          todoEditModal.addEventListener("click", function (event) {
            console.log("클릭되었습니다")
            // 트리거 버튼 선택
            const triggerBtn = event.relatedTarget;
            // 데이터 가져오기
            //const checkbox = document.getElementById("#table").getElementsByTagName("tr")[id].getElementsByTagName("th")[0]
            const todo = clickedRowValues[0];
            const dueDate = clickedRowValues[1];
            const todoId = clickedRowValues[2];
            console.log(`${todo}, ${dueDate}, ${todoId}`);
            // 데이터를 반영
            //document.querySelector("#edit-priority-check").value = checkbox;
            document.querySelector("#edit-todo").value = todo;
            document.querySelector("#edit-todo-due-date").value = dueDate;
            document.querySelector("#edit-todo-id").value = todoId;

            todoEditBtn.addEventListener("click",function(){
              // 객체 출력
              console.log(toDoJson);
              // fetch() - 비동기 통신을 위한 API
              const url = "/home/addTodo";
              fetch(url, {
                method: "patch",
                body: JSON.stringify(toDoJson),
                headers: {
                  "Content-Type": "application/json"
                }
              }).then(response => {
                // http 응답 코드에 따른 메시지 출력
                const msg = (response.ok) ? "수정 완료" : "수정 실패..!";
                alert(msg);
                window.location.reload();
              });

            });



          });
        }

        <!-- 삭제 -->
        {

          // 삭제 버튼 선택
          const todoDeleteBtns = document.querySelector("#todo-delete");

          // 각 버튼의 이벤트 처리를 등록
          todoDeleteBtns.addEventListener("click", () => {
            console.log("삭제 버튼 클릭 ="+clickedRowValues);
            // 삭제 API 호출 및 처리
            const url = "/home/delete/"+clickedRowValues[2];
            fetch(url, {
              method: "DELETE"
            }).then(response => {
              // 댓글 삭제 실패 처리
              if (!response.ok) {
                alert("할일 삭제 실패..!");
              }else
                alert("할일 삭제 성공");
              window.location.reload();
            });
          });
        }
      }

    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
  </body>
</html>
