<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="./global.css" />
    <link rel="stylesheet" href="./RegisterScreen.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Noto Sans KR:wght@400;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Lato:wght@400&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Noto Sans:wght@400&display=swap"
    />
  </head>
  <body>
    <div class="register-screen">
      <div class="botton-navigation-bar1">
        <div class="botton-navigation-bar-item"></div>
        <div class="botton-navigation-bar-inner">
          <div class="rectangle-div"></div>
        </div>
      </div>
      <div class="register-screen-child"></div>
      <div class="register-screen1">
        <b class="register">Register</b>
        <div class="login-button">
          <div class="enter-your-username">Register</div>
        </div>
        <img class="back-button-icon" alt="" src="./public/back-button.svg" />

        <div class="username">
          <div class="username-fuild">
            <div class="enter-your-username">Enter your Username</div>
          </div>
          <div class="username1">Username</div>
        </div>
        <div class="password">
          <div class="password-fuild">
            <div class="password-fuild-child"></div>
            <div class="password-fuild-child"></div>
            <div class="password-fuild-child"></div>
            <div class="password-fuild-child"></div>
            <div class="password-fuild-child"></div>
            <div class="password-fuild-child"></div>
            <div class="password-fuild-child"></div>
            <div class="password-fuild-child"></div>
            <div class="password-fuild-child"></div>
            <div class="password-fuild-child"></div>
            <div class="password-fuild-child"></div>
            <div class="password-fuild-child"></div>
          </div>
          <div class="password1">Password</div>
        </div>
        <div class="password2">
          <div class="password-fuild">
            <div class="password-fuild-child"></div>
            <div class="password-fuild-child"></div>
            <div class="password-fuild-child"></div>
            <div class="password-fuild-child"></div>
            <div class="password-fuild-child"></div>
            <div class="password-fuild-child"></div>
            <div class="password-fuild-child"></div>
            <div class="password-fuild-child"></div>
            <div class="password-fuild-child"></div>
            <div class="password-fuild-child"></div>
            <div class="password-fuild-child"></div>
            <div class="password-fuild-child"></div>
          </div>
          <div class="confirm-password">Confirm Password</div>
        </div>
        <div class="divider">
          <div class="or">or</div>
          <img class="divider-child" alt="" src="./public/vector-1.svg" />

          <img class="divider-item" alt="" src="./public/vector-2.svg" />
        </div>
        <div class="google">
          <img class="google-icon" alt="" src="./public/google.svg" />

          <div class="enter-your-username">Register with Google</div>
        </div>
        <div class="apple">
          <img class="google-icon" alt="" src="./public/apple.svg" />

          <div class="enter-your-username">Register with Appe</div>
        </div>
      </div>
    </div>
  </body>
</html>
