.botton-navigation-bar-child {
  position: relative;
  background-color: var(--color-darkslategray);
  width: 236px;
  height: 1078px;
  z-index: 0;
}
.group-child {
  position: absolute;
  top: 0;
  left: 0;
  width: 116px;
  height: 107px;
}
.index1,
.vuesaxboldhome-2-icon {
  position: absolute;
  top: 0;
  left: 7.25px;
  width: 58px;
  height: 51.36px;
}
.index1 {
  top: 68.48px;
  left: 0;
  line-height: 150.5%;
  display: inline-block;
  width: 70.08px;
  height: 38.52px;
}
.rectangle-parent,
.vuesaxboldhome-2-parent {
  position: absolute;
  top: 0;
  left: 19.33px;
  width: 70.08px;
  height: 107px;
}
.rectangle-parent {
  margin: 0 !important;
  top: 28px;
  left: 60px;
  width: 116px;
  z-index: 1;
  color: var(--color-gray-200);
}
.frame-child {
  position: relative;
  width: 116px;
  height: 120px;
  z-index: 0;
}
.vuesaxoutlinecalendar-icon {
  position: absolute;
  height: 48%;
  width: 51.06%;
  top: 0;
  right: 23.4%;
  bottom: 52%;
  left: 25.53%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.calendar {
  position: absolute;
  height: 36%;
  width: 100%;
  top: 64%;
  left: 0;
  line-height: 150.5%;
  display: inline-block;
}
.vuesaxoutlinecalendar-parent {
  position: absolute;
  margin: 0 !important;
  height: 89.17%;
  width: 97.92%;
  top: 0;
  right: 2.08%;
  bottom: 10.83%;
  left: 0;
  z-index: 1;
}
.rectangle-group {
  margin: 0 !important;
  position: absolute;
  width: 49.15%;
  top: calc(50% - 358px);
  right: 27.12%;
  left: 23.73%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  z-index: 2;
}
.group-item {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.vuesaxoutlineclock-icon {
  position: absolute;
  height: 48%;
  width: 63.16%;
  top: 0;
  right: 18.42%;
  bottom: 52%;
  left: 18.42%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vuesaxoutlineclock-parent {
  position: absolute;
  height: 100%;
  width: 79.17%;
  top: 0;
  right: 8.33%;
  bottom: 0;
  left: 12.5%;
}
.rectangle-container {
  position: absolute;
  margin: 0 !important;
  height: 9.93%;
  width: 49.15%;
  top: 30.89%;
  right: 27.97%;
  bottom: 59.18%;
  left: 22.88%;
  z-index: 3;
}
.vuesaxoutlineuser-icon {
  position: absolute;
  height: 48%;
  width: 70.59%;
  top: 0;
  right: 11.76%;
  bottom: 52%;
  left: 17.65%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.group-div,
.vuesaxoutlineuser-parent {
  position: absolute;
  height: 100%;
  width: 70.83%;
  top: 0;
  right: 16.67%;
  bottom: 0;
  left: 12.5%;
}
.group-div {
  margin: 0 !important;
  height: 9.93%;
  width: 49.15%;
  top: 44.99%;
  right: 27.97%;
  bottom: 45.08%;
  left: 22.88%;
  z-index: 4;
}
.botton-navigation-bar {
  width: 236px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  position: relative;
}
.div,
.group-icon,
.index2,
.rectangle-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 65.81px;
  height: 93px;
}
.div,
.index2,
.rectangle-wrapper {
  top: 7px;
  left: 1092.19px;
}
.div,
.index2 {
  top: 21px;
  left: 79px;
  letter-spacing: -0.5px;
  line-height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 132px;
  height: 50px;
}
.div {
  top: 24px;
  left: 224px;
  width: 147px;
  height: 44px;
}
.group-parent {
  position: absolute;
  top: 13px;
  left: 38px;
  width: 1158px;
  height: 100px;
}
.checklist-rafiki-1-icon {
  position: absolute;
  top: 84px;
  left: 428px;
  width: 575px;
  height: 641px;
  overflow: hidden;
}
.what-do-you {
  position: absolute;
  top: 753px;
  left: 375px;
  font-size: 36px;
  line-height: 150.5%;
  display: inline-block;
  width: 684px;
  height: 85px;
}
.home-screen-empty-screen-child {
  position: absolute;
  height: 9.17%;
  width: 8.87%;
  top: 79.17%;
  right: 37.77%;
  bottom: 11.67%;
  left: 53.37%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.home-screen-empty-screen {
  position: relative;
  background-color: #a8babf;
  width: 1218px;
  height: 1080px;
  overflow: hidden;
  flex-shrink: 0;
  font-size: var(--font-size-13xl);
  color: var(--color-black);
}
.botton-navigation-bar-parent {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 1080px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
  text-align: center;
  font-size: var(--font-size-5xl);
  color: var(--color-gray-300);
  font-family: var(--font-lato);
}
