.botton-navigation-bar-child1 {
  position: absolute;
  height: 80.65%;
  width: 100%;
  top: 19.35%;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--color-darkslategray);
}
.vuesaxboldhome-2-icon2 {
  position: absolute;
  height: 48%;
  width: 80%;
  top: 0;
  right: 10%;
  bottom: 52%;
  left: 10%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.index5 {
  position: absolute;
  top: 64%;
  left: 0;
  line-height: 150.5%;
}
.vuesaxboldhome-2-container {
  position: absolute;
  height: 100%;
  width: 62.5%;
  top: 0;
  right: 20.83%;
  bottom: 0;
  left: 16.67%;
}
.rectangle-parent11 {
  position: absolute;
  height: 40.32%;
  width: 12.8%;
  top: 29.03%;
  right: 81.87%;
  bottom: 30.65%;
  left: 5.33%;
  color: var(--color-gray-200);
}
.botton-navigation-bar-child2,
.vuesaxoutlineclock-icon2 {
  position: absolute;
  height: 51.61%;
  width: 17.07%;
  top: -6.45%;
  right: 41.33%;
  bottom: 54.84%;
  left: 41.6%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vuesaxoutlineclock-icon2 {
  height: 48%;
  width: 64.86%;
  top: 0;
  right: 16.22%;
  bottom: 52%;
  left: 18.92%;
}
.vuesaxoutlineclock-container {
  position: absolute;
  height: 100%;
  width: 77.08%;
  top: 0;
  right: 10.42%;
  bottom: 0;
  left: 12.5%;
}
.rectangle-parent12 {
  position: absolute;
  height: 40.32%;
  width: 12.8%;
  top: 29.03%;
  right: 23.2%;
  bottom: 30.65%;
  left: 64%;
}
.vuesaxoutlineuser-icon2 {
  position: absolute;
  height: 48%;
  width: 66.67%;
  top: 0;
  right: 16.67%;
  bottom: 52%;
  left: 16.67%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vuesaxoutlineuser-container {
  position: absolute;
  height: 100%;
  width: 75%;
  top: 0;
  right: 12.5%;
  bottom: 0;
  left: 12.5%;
}
.rectangle-parent13 {
  position: absolute;
  height: 40.32%;
  width: 12.8%;
  top: 29.03%;
  right: 5.07%;
  bottom: 30.65%;
  left: 82.13%;
}
.vuesaxoutlinecalendar-icon2 {
  position: absolute;
  height: 48%;
  width: 50%;
  top: 0;
  right: 25%;
  bottom: 52%;
  left: 25%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vuesaxoutlinecalendar-container {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.rectangle-parent14 {
  position: absolute;
  height: 40.32%;
  width: 12.8%;
  top: 29.03%;
  right: 63.73%;
  bottom: 30.65%;
  left: 23.47%;
}
.botton-navigation-bar2 {
  position: absolute;
  top: 688px;
  left: 0;
  width: 375px;
  height: 124px;
  font-size: var(--font-size-xs);
  color: var(--color-gray-300);
}
.group-child23,
.rectangle-frame {
  position: absolute;
  top: 0;
  left: 0;
  width: 42px;
  height: 42px;
}
.rectangle-frame {
  left: 285px;
}
.div4,
.index6 {
  position: absolute;
  top: 9px;
  left: 74px;
  letter-spacing: -0.5px;
  line-height: 20px;
}
.div4 {
  left: 152px;
}
.group-parent1 {
  position: absolute;
  top: 20px;
  left: 24px;
  width: 327px;
  height: 42px;
  text-align: center;
}
.checklist-rafiki-1-icon {
  position: absolute;
  top: 174px;
  left: 74px;
  width: 227px;
  height: 227px;
  overflow: hidden;
}
.tap-to,
.what-do-you {
  position: absolute;
  top: 411px;
  left: 53px;
  line-height: 150.5%;
}
.tap-to {
  top: 451px;
  left: 108px;
  font-size: var(--font-size-base);
}
.home-screen-empty-screen {
  position: relative;
  background-color: var(--bg-color);
  width: 100%;
  height: 812px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--color-gray-200);
  font-family: var(--font-lato);
}
