<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="../css/global.css" />
    <link rel="stylesheet" href="../css/Frame1.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@900&display=swap"
    />
  </head>
  <body>

    <div class="home-screen-empty-screen-parent">
      <div class="home-screen-empty-screen">
        <div class="group-parent">
          <img class="group-child" alt="" src="../css/public/group-158.svg" />

          <div class="rectangle-wrapper">
            <div class="group-child"></div>
          </div>
          <div class="index1">Index</div>
          <div class="div">+ 새 목록</div>
        </div>
        <img
          class="checklist-rafiki-1-icon"
          alt=""
          src="../css/public/checklistrafiki-1.svg"
        />

        <div class="what-do-you">What do you want to do today?</div>
        <img
          class="home-screen-empty-screen-child"
          alt=""
          src="../css/public/group-162.svg"
        />
      </div>
    </div>
    <div class="botton-navigation-bar">
      <div class="botton-navigation-bar-child"></div>
      <div class="rectangle-parent">
        <div class="group-inner"></div>
        <div class="vuesaxboldhome-2-parent">
          <img
                  class="vuesaxboldhome-2-icon"
                  alt=""
                  src="../css/public/vuesaxboldhome2.svg"
          />

          <div class="index2">Index</div>
        </div>
      </div>
      <div class="rectangle-group" >
        <div class="rectangle-div"></div>
        <div class="vuesaxoutlinecalendar-parent">
          <img
                  class="vuesaxoutlinecalendar-icon"
                  alt=""
                  src="../css/public/vuesaxoutlinecalendar.svg"
          />

          <div class="calendar">Calendar</div>
        </div>
      </div>
      <div class="rectangle-container">
        <div class="rectangle-div"></div>
        <div class="vuesaxoutlineclock-parent">
          <img
                  class="vuesaxoutlineclock-icon"
                  alt=""
                  src="../css/public/vuesaxoutlineclock.svg"
          />

          <div class="calendar">Focuse</div>
        </div>
      </div>
      <div class="group-div">
        <div class="rectangle-div"></div>
        <div class="vuesaxoutlineuser-parent">
          <img
                  class="vuesaxoutlineuser-icon"
                  alt=""
                  src="../css/public/vuesaxoutlineuser.svg"
          />

          <div class="calendar">Profile</div>
        </div>
      </div>
    </div>
  </body>
</html>
